<h1 align="center">Listing all categories</h1>
<div align="center">
  <%= will_paginate %>
  <% @categories.each do |category|%>
    <div class="list-group center">
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex flex-column">
            <%= link_to "#{category.name}", category_path(category) %>
          <div class=p-2">
            <small><%= pluralize(category.articles.count, "article") %></small>
           </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= will_paginate %>
</div>
